{% extends "base.html" %}

{% block extrahead %}
  {% if page %}
  <meta property="og:title" content="{{ page.title }} - {{ config.site_name }}" />
  <meta property="og:description" content="[{{config.extra.docs_version}}] {{ page.meta.description | default(config.site_description) }}" />
  <meta property="og:image" content="https://assets.subathonmanager.app/docs/icon.png" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta name="twitter:card" content="summary" />
  {% if not config.extra.docs_canonical %}
    <meta name="robots" content="noindex, nofollow" />
  {% endif %}
  <link rel="canonical" href="{{ page.canonical_url }}" />
  {% endif %}
{% endblock %}